body {
    background-image: url('../img/anadaBackground.jpg');
    background-size: cover;
    outline: none;
    color: whitesmoke;
}

.nav-item {
    color: #b80000;
}

.top-label {
    font-weight: 500;
    color: #b80000;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.5rem;
}

.anada-info {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(128, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 5px;
}

.nombre-bod {
    margin-right: 90px;
}

.form-control .form-group {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control select:focus {
    outline: none;
}

.form-control select,
.form-control input {
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    border-style: none;
    box-sizing: border-box;
    font-weight: 300;
    color: white;
    background: rgba(128, 0, 0, 0);
    border-bottom: 1px solid #727272;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-control select {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #b80000;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    background: rgba(0, 61, 128, 0);
    margin-bottom: 20px;
    color: #a4a4a4;
    font-family: 'Alegreya Sans', sans-serif;
}

select:focus {
    outline: none; 
}

option {
    color: black;
}

/* Boton de guardar */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .button-container button {
      text-transform: uppercase;
      width: 100%;
      max-width: 200px;
      padding: 1rem 1rem;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      color: white;

      border: #b80000 2px solid;
  
      border-radius: 8px;
      background: rgba(159, 159, 159, 0.02);
      backdrop-filter: blur(7px);
      margin: 1rem 0;
  }
  /* // */