body {
    background-image: url('../img/catalogoBackground.jpg');
    background-size: cover;
    outline: none;
    color: whitesmoke;
}

.nav-item {
    color: #0086FF;
}

.top-label {
    font-weight: 500;
    color: #0086FF;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.5rem;
}

.p-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* vino-form.css */
.vino-info {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.vino-info label {
    display: block;
    margin-bottom: 8px;
}

.eliminar-ralla {
    color: transparent;
}

.vino-info input[type="text"],
.vino-info input[type="number"],
.vino-info textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border-style: none;
    border-bottom: 1px solid #004288;
    color: #ddd;
    background: rgba(159, 159, 159, 0);
    box-sizing: border-box; /* Make sure padding doesn't affect the total width */
}

.vino-info input[type="file"] {
    border-style: none;
    width: 100%;
    background: rgba(159, 159, 159, 0);
    box-sizing: border-box; /* Make sure padding doesn't affect the total width */
    margin-bottom: 330px;
}

.vino-info textarea {
    height: 100px;
    resize: vertical; /* Allows the user to vertically resize the textarea */
}
/* // */


/* Zona de Presentacion */
/* vino-form.css */

/* General Form Styling */
.vino-info, .presentacion, .variedad {
    font-family: Arial, sans-serif;
    max-width: 70%;
    margin: 20px auto;
    padding: 40px;
    background: rgba(0, 61, 128, 0.10);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.vino-info label, .presentacion label, .variedad label {
    display: block;
    margin-bottom: 8px;
}

.vino-info input[type="text"],
.vino-info input[type="number"],
.vino-info input[type="file"],
.vino-info textarea,
.presentacion input[type="text"],
.presentacion input[type="number"],
.presentacion textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 40px;
    box-sizing: border-box; 
    border-style: none ;
    color: white;
    border-bottom: 1px solid #727272;
    background: rgba(0, 61, 128, 0);
}

.vino-info input[type="file"] {
    margin-right: 100px;
    border-bottom: none;
}

.vino-info textarea, .presentacion textarea {
    height: 100px;
    resize: vertical; /* Allows the user to vertically resize the textarea */
}

.group {
    display: flex;
    justify-content: space-between;
}
.group .column {
    flex: 1;
    margin-right: 10px;
}
.group .column:last-child {
    margin-right: 0;
}

.nombre-vino {
    width: 400px;
}

/* Flexbox for side-by-side inputs */
.presentacion .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.presentacion .column {
    flex: 1;
    margin-right: 10px;
}

.presentacion .column:last-child {
    margin-right: 0;
}
/* // */

/* Estilos de los combobox */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    background: rgba(0, 61, 128, 0);
    margin-bottom: 20px;
    color: #a4a4a4;
    font-family: 'Alegreya Sans', sans-serif;
}

select:focus {
    outline: none; 
}

option {
    color: black;
}

/* // */

/* Boton agregar */
#add-variedad,
#add-presentacion,
.remove-variedad,
.remove-presentacion {
    padding: 8px;
    border-radius: 5px;
    background: #00428865;
    color: white;
    font-weight: 400;
    border-style: none;
}

.remove-variedad,
.remove-presentacion {
    background: #88000065;
    color: white;
}
/* // */



/* Boton de guardar */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .button-container button {
      text-transform: uppercase;
      width: 100%;
      max-width: 200px;
      padding: 1rem 1rem;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      color: white;

      border: #0086FF 2px solid;
  
      border-radius: 8px;
      background: rgba(159, 159, 159, 0.02);
      backdrop-filter: blur(7px);
      margin: 1rem 0;
  }
  /* // */