{% extends 'layout.html' %}

{% block title %}Bodega{% endblock %}


{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bodega.css') }}">

<!-- Navbar -->
<nav class="navbar">
      
  <!-- logo -->
  <a href="{{ url_for('index.index') }}" style="pointer-events: auto;">
      <div href="{{ url_for('index.index') }}" class="nav-logo" style="width: 7rem;" style="pointer-events: auto;">
          {% block logo %}<object class="logo" href="{{ url_for('index.index') }}" data="{{ url_for('static', filename='img/LogoBlack.svg') }}" type="image/svg+xml" style="pointer-events: none;"></object>{% endblock %}
      </div>
  </a>
  <!-- // -->

  <div class="nav-items">
      <!-- Enlaces de navegacion -->
      <a class="nav-item" href="{{ url_for('bodega.addBodega') }}">Bodega</a>
      <a class="nav-item" href="{{ url_for('catalogo.addCatalogo') }}">Catálogo</a>
      <a class="nav-item" href="{{ url_for('anada.addAnada') }}">Añada</a>
  </div>
      
  <!-- // -->
</div>
</nav>

<!-- Action form -->
<form action="{{ url_for('bodega.addBodega') }}" method="POST" class="form-control">
    
  <!-- Informacion General -->
  <div class="info-general">
    <div class="left-column">

      <label class="main-label">Informacion General</label>

      <div class="inputs">
        <div class="form-group">
          <label for="bod-nombre">Nombre</label>
          <input type="text" id="bod-nombre" name="bod-nombre" required>
        </div>
    
        <div class="form-group">
          <label for="bod-enlace_web">Enlace Web</label>
          <input type="text" id="bod-enlace_web" name="bod-enlace_web" required>
        </div>
    
        <div class="form-group">
          <label for="bod-fecha_fundacion">Fecha de Fundacion</label>
          <input type="date" id="bod-fecha_fundacion" name="bod-fecha_fundacion" required>
        </div>
      </div>
    
    </div>

    <div class="right-column">
      <div class="form-group">
        <label for="bod-historia">Historia</label>
        <textarea id="bod-historia" name="bod-historia" required></textarea>
      </div>

      <div class="form-group">
        <label for="bod-direccion">Direccion</label>
        <input type="text" id="bod-direccion" name="bod-direccion" required>
      </div>

      <div class="form-group">
        <label for="bod-resumen_vinos">Resumen de Vinos</label>
        <textarea id="bod-resumen_vinos" name="bod-resumen_vinos" required></textarea>
      </div>
    </div>
  </div>
  <!-- // -->

  <!-- Informacion de Contacto -->
  <div class="info-contacto">
    <div class="left-column">
      <label class="main-label">Informacion de Contacto</label>
      <!-- Zona de telefono -->
      <div id="telefonos">
          <div class="telefono">
              <label for="tlf-codigo-area">Codigo de Area</label>
              <input type="text" id="tlf-codigo-area" name="tlf-codigo-area[]" placeholder="Codigo de Area" required>

              <label for="tlf-numero">Numero</label>
              <input type="text" id="tlf-numero" name="tlf-numero[]" placeholder="Numero" required>
          </div>
      </div>
      <button type="button" id="add-telefono">Agregar otro telefono</button>
      <!-- // -->
    </div>

    <!-- Columna derecha contacto -->
    <div class="right-column">
      
      <!-- Combobox Pais -->
      <div class="form-group">
        <label>Pais</label>
        <select id="bod-nombrePai" name="bod-nombrePai">
          <option value="">Selecciona un país</option>
          {% for pais in get_pai %}
              <option value="{{ pais.nombre }}">{{ pais.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- // -->

      <div class="form-group">
        <label>Region</label>
        <select id="bod-nombreReg" name="bod-nombreReg">
          <option value="">Selecciona una region</option>
          {% for region in get_reg %}
              <option value="{{ region.nombre }}">{{ region.nombre }}</option>
          {% endfor %}
        </select>
      </div>

    </div>
  </div>
  <!-- // -->

  <div class="button-container">
    <button class="submit-btn" type="submit">Aceptar</button>
  </div>
</form>

<!-- ZONA DE SCRIPTS -->
<!-- Query para que funcione el seleccionar regiones -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#bod-nombrePai').change(function() {
        var selectedCountry = $(this).val();
        $.ajax({
            url: '{{ url_for("bodega.get_regions") }}',
            data: { 'bod-nombrePai': selectedCountry },
            type: 'POST',
            success: function(response) {
                var regionsSelect = $('#bod-nombreReg');
                regionsSelect.empty();
                $.each(response, function(index, region) {
                    regionsSelect.append($('<option></option>').attr('value', region).text(region));
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
// //

// Query para agregar telefonos
// Para que funcione la entrada multiple de datos en telefono
var telefonoIndex = 0;

document.getElementById('add-telefono').addEventListener('click', function() {
    var telefonos = document.getElementById('telefonos');
    var newTelefono = document.createElement('div');
    newTelefono.className = 'telefono';
    newTelefono.innerHTML = `
        <label for="tlf-codigo-area-">Codigo de Area</label>
        <input type="text" id="tlf-codigo-area-" name="tlf-codigo-area[]" placeholder="Codigo de Area" required>

        <label for="tlf-numero-">Numero</label>
        <input type="text" id="tlf-numero-" name="tlf-numero[]" placeholder="Numero" required>
        <button type="button" class="remove-telefono">Eliminar</button>
    `;
    telefonos.appendChild(newTelefono);
    telefonoIndex++;
});
// //

// Remover un elemento telefono
document.getElementById('telefonos').addEventListener('click', function(e) {
    if (e.target && e.target.classList.contains('remove-telefono')) {
        e.target.parentNode.remove();
    }
});
// //
</script>

<!-- // -->

{% endblock body %}
